@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f7f3ef;
}

/* animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.animated-background {
  background-size: 400% 400%;
  -webkit-animation: gradientAnimation 5s ease infinite;
  -moz-animation: gradientAnimation 5s ease infinite;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
